<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="bold">SACOLA</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="chevron-down-outline" color="dark"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="conteudo mg-top-5-percent">
    <p class="calibri italic bold no-margin pad-top-10-percent label">Confirme o endereço para entrega</p>
    <ion-button class="btnEnd mg-top-5" size="large" shape="round" expand="block" fill="outline" color="secondary">
      <ion-icon name="location-outline" slot="start"> </ion-icon>
      <p class="endereco">Rua alves</p>
    </ion-button>
  </div>
  <div class="conteudo mg-top-10">
    <p class="corbel extra-bold no-margin pad-top-10 label">Verifique seu pedido</p>
    <p class="linha pad-top-10"></p>
    <div class="item-pedido mg-top-5">
      <!-- Quantidade -->
      <div class="quantidade">
        <button class="buttonQtd">-</button>
        <span class="numQtd"> 1 </span>
        <button class="buttonQtd">+</button>
      </div>
      <p class="item-type century bold no-margin">Pizza grande (8 pedaços)</p>
      <p class="item-name corbel italic no-margin">Baiana arretada</p>
      <p class="item-price corbel bold no-margin">R$ 49,99</p>
      <p class="linha pad-top-25"></p>
    </div>
    <ion-button class="addMoreItens corbel" expand="full" fill="clear" (click)="goToHome()" color="danger">Escolher mais itens</ion-button>
    <p class="linha"></p>
    <p class="lblTotal corbel italic no-margin mg-top-5">Subtotal<span class="valTotal">R$44,00</span></p>
    <p class="lblTotal corbel no-margin">Taxa de entrega<span class="valTotal">R$4,00</span></p>
    <p class="lblTotal total corbel extra-bold no-margin">Total<span class="valTotal">R$48,00</span></p>
  </div>
  <div class="cupom mg-top-10">
    <ion-button class="addMoreItens corbel"  size="large" expand="full" fill="clear" color="warning">
      <ion-icon class="cupom-icon pad-top-10" name="pizza-outline" slot="start"> </ion-icon>
      <span class="century bold lblCupom">Se tiver um cupom, utilize-o aqui!</span>
    </ion-button>
  </div>
  <div class="div-pagamento mg-top-10">
    <p class="corbel extra-bold no-margin pad-top-20 label">Como será o pagamento?</p>
    <ion-list class="no-pad pagamento mg-top-5">
      <ion-radio-group>
        <ion-item>
          <ion-icon class="iconDin" name="cash-outline"></ion-icon>
          <ion-label class="lblPagamento"> Dinheiro</ion-label>
          <ion-radio slot="start" class="radioDin" value="dinheiro" (click)="pagamentoDin()"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-icon class="iconCard" name="card-outline"></ion-icon>
          <ion-label class="lblPagamento"> Cartão na entrega</ion-label>
          <ion-radio slot="start" class="radioCard" value="card" (click)="pagamentoCard()"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
    </ion-list>
    <ion-button class="btnAdd" expand="block" size="large" color="danger" (click)="confirmarPedido()">
      <ion-icon slot="start" name="thumbs-up-sharp"></ion-icon> CONFIRMAR PEDIDO
    </ion-button>

  </div>

</ion-content>
