<main class="painel-container">
    <div class="panel panel-1">
        <img src="../../assets/icons/2@Fratelli logo-preto.png" alt="logo fratelli">
        <p class="no-margin century sub-title">pizza delivery</p>
        <p class="linha no-margin mg-top-10"></p>
        <p class="no-margin mg-top-10 calibri bold welcome">Bem-vindo ao gestor de pedidos do seu estabelecimento</p>
        <p class="no-margin mg-top-10 century description">Este painel facilitará as operações mais comuns,
             você também pode navegar pelo menu lateral esquerdo.
        </p>
    </div>
    <div class="panel panel-2">
        <h5 class="century bold branco center no-margin mg-top-10">STATUS</h5>
        <img src="../../assets/icons/open-sign.png" class="mg-top-5" alt="placa aberto" *ngIf="isOpen" />
        <img src="../../assets/icons/close-sign.png" class="mg-top-5" alt="placa fechado" *ngIf="!isOpen" />
        <h1 class="status-open no-margin center century" *ngIf="isOpen">ABERTO</h1>
        <h1 class="status-close no-margin center century" *ngIf="!isOpen">FECHADO</h1>
        <mat-slide-toggle class="mg-top-10 toggle" [(ngModel)]="isOpen"></mat-slide-toggle>
        <p class="linha no-margin mg-top-10"></p>
        <p class="status-description no-margin century bold" *ngIf="isOpen">Seu estabelecimento encontra-se aberto. O APP está ativado para receber novos pedidos!</p>
        <p class="status-description no-margin century bold" *ngIf="!isOpen">Seu estabelecimento encontra-se fechado. O APP não pode receber novos pedidos!</p>
    </div>

    <div class="panel panel-3">
        <div class="header-panel">
            <h5 class="century bold branco center no-margin mg-top-10">CAIXA</h5>
            <img src="../../assets/icons/caixa-icon.png" class="mg-top-5" alt="caixa" />
        </div>
        <div class="main-panel">
            <p class="label-fundo branco century no-margin mg-top-20">Fundo inicial:</p>
            <p class="fundo branco bold century no-margin">R$ 150,00</p>
            <p class="label-total branco century no-margin mg-top-10">Total de pedidos:</p>
            <h3 class="total laranja-padrao century bold no-margin">R$ 780,00</h3>
        </div>
        <div class="footer-panel">
            <button mat-button color="accent" class="btn-abrir">Abrir</button>
            <button mat-button color="warn" class="btn-fechar">Fechar</button>
        </div>
    </div>

    <div class="panel panel-4">
        <div class="header-panel">
            <img src="../../assets/icons/novo-pedido-icon.png" class="mg-top-10" alt="novo pedido" />
            <span class="century bold branco title-panel"> LANÇAR PEDIDO</span>
            <p class="linha no-margin mg-top-5"></p>
        </div>
        <div class="main-panel">
            <mat-form-field appearance="standard" color="warn">
                <mat-label>Telefone</mat-label>
                <input matInput placeholder="(11) 00000-0000" autocomplete="off">
            </mat-form-field>
            <button mat-raised-button color="primary" class="btn btn-add">Adicionar pedido</button>
            <p class="branco label-pedido no-margin mg-top-5">Pedido:</p>
            <div class="pedido">
            </div>
        </div>
        <div class="footer-panel">
            <button mat-raised-button color="accent" class="btn btn-confirma">CONFIRMAR</button>
        </div>
    </div>
    <div class="panel panel-5">
        <div class="header-panel">
            <img src="../../assets/icons/sino-icon.png" class="mg-top-10" alt="notificações" />
            <span class="century bold branco title-panel"> NOVOS PEDIDOS</span>
            <p class="linha no-margin mg-top-5"></p>
        </div>
        <div class="main-panel">
            <h5 class="branco center no-margin light mg-top-5">Recebidos pelo APP</h5>
            <mat-card class="card-pedido mg-top-10" *ngFor="let p of pedidosNovos">
                <div class="pad-5">
                    <p class="nome no-margin"><span class="laranja-padrao">Pedido: </span>{{p.nome_usuario}}</p>
                    <p class="contato no-margin">{{p.contato}}</p>
                    <button mat-button color="warn" [routerLink]="['/pedidos']">Visualizar</button>
                </div>
            </mat-card>
        </div>
    </div>
    <div class="panel panel-6">
        <div class="header-panel">
            <img src="../../assets/icons/cupom-icon.png" class="mg-top-10" alt="novo pedido" />
            <span class="century bold branco title-panel"> GERENCIAR CUPONS</span>
            <p class="linha no-margin mg-top-5"></p>
        </div>
        <div class="main-panel">
            <button mat-raised-button color="primary" class="btn" (click)="abrirCupom()"><span class="cinza bold corbel">EDITAR CUPONS</span></button>
            <p class="mg-top-10 branco no-margin light cupons-label">Cupons ativos:</p>
            <p class="branco no-margin cupom" *ngFor="let c of cupons">{{c.cupom}} - <span *ngIf="c.type=='valor'">R$</span> {{c.value}}<span *ngIf="c.type=='porcentagem'">%</span> OFF</p>
        </div>
    </div>
</main>