<div class="selecionarEntregador" [ngStyle]="{'display': modalEntregador ? 'block' : 'none'}">
    <div class="backdrop"></div>
    <div class="modal-entregadores">
        <div class="pad-25">
            <mat-icon aria-hidden="false" (click)="closeModal()">close</mat-icon>
            <h5 class="center century bold cinza">Cadastrar novo entregador</h5>
            <form [formGroup]="entregadoresForm" (ngSubmit)="cadastrarEntregador()">
                <mat-form-field appearance="outline" color="accent" class="mg-top-20">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome">
                </mat-form-field>
                <button mat-flat-button type="submit" color="accent" class="no-margin">
                    CADASTRAR ENTREGADOR
                </button>
            </form>
        </div>
        <div *ngIf="entregadores?.length > 0">
            <div class="pad-25 entregadores">
                <h6 class="center century bold cinza mg-top-10">Remover entregadores</h6>
                <p class="cinza no-margin bold" *ngFor="let e of entregadores; let i = index">
                    <span class="btnRemover" (click)="removerEntregador(i)">Remover</span>
                    {{e.nome}}
                </p>
            </div>
        </div>
    </div>
</div>
<div class="pedidos-container">
    <div class="lateral">
        <div class="mg-top-30">
            <button mat-raised-button class="btn" (click)="modalEntregador = true">
                <img src="./assets/icons/entregador-icon.png" class="icon-entregador" alt="icone entregador">Editar entregadores
            </button>
            <button mat-raised-button class="btn" (click)="modalTarifa()">
                <img src="./assets/icons/mapa-icon.png" class="icon-taxa" alt="icone editar taxa">Editar taxa de entrega
            </button>
        </div>
        <h4 class="corbel bold center success mg-top-20">ENTREGUES</h4>
        <p class="linha no-margin mg-top-5"></p>
        <br/>
        <div *ngIf="pedidosEntregues">
            <mat-card class="card-pedido mg-top-10" *ngFor="let p of pedidosEntregues; let i = index">
                <div class="pad-5">
                    <p class="nome no-margin"><span class="cinza">Cliente:</span> {{p.nome_usuario}}</p>
                    <p class="contato no-margin bold">{{p.horario_entrega}}</p>
                    <button mat-button (click)="visualizarPedido(i)">Visualizar</button>
                </div>
            </mat-card>
        </div>
    </div>
    <main class="main">
        <div class="container-pedidos">
            <h4 class="corbel bold preparo"> Entregas</h4>
            <div *ngIf="pedidosSaiuEntrega">
                <div class="pedido-container" *ngFor="let p of pedidosSaiuEntrega; let i = index">
                    <div class="p-header">
                        <p class="no-margin nome bold laranja-padrao">{{p.nome_usuario}}</p>
                        <p class="no-margin horario bold laranja-avermelhado">{{p.horario_pedido}}</p>
                    </div>
                    <div class="itens">
                        <div class="branco century no-margin">
                            <p class="no-margin" *ngFor="let item of p.pedido">{{item.qtd + ' x ' + item.name}}</p>
                        </div>
                    </div>
                    <div class="endereco">
                        <p class="no-margin laranja-padrao">{{p.endereco}}</p>
                    </div>
                    <div class="total">
                        <p class="no-margin branco"><span class="bold">Total:</span> {{p.total}} - {{p.pagamento =='card' ? 'Cartão' : 'Dinheiro'}}</p>
                        <p class=" no-margin branco" *ngIf="p.troco"><span class="bold">Troco: </span> R$ {{(p.troco - p.total).toFixed(2)}}</p>
                        <p class="no-margin branco"><span class="bold">Entregador:</span> {{p.entregador}}</p>
                    </div>
                    <div class="p-footer">
                        <p class="contato no-margin laranja-padrao">{{p.contato}}</p>
                        <button mat-button color="accent" (click)="confirmarEntrega(i)">Confirmar entrega</button>
                    </div>
                </div>
            </div>
            
            
        </div>
        
    </main>
</div>