ion-toolbar, ion-content{
    --ion-background-color: #f3f3f3;
}
ion-refresher{
    background: #f3f3f3;
}
.item-name{
    font-size: 20px;
}
.lblTotal{
    color: #777777;
    font-size: 18px;
}
.total{
    font-size: 20px;
    font-weight: 700;
    color: #E5690B;
}
.valTotal{
    float: right;
}
.item-date{
    color: #585858;
    font-size: 18px;
}
@media (min-height: 710px){
    h3{
        font-size: 20px;
    }
    .lblStatus{
        font-size: 14px;
    }
    .item-name, .item-date{
        font-size: 17px;
    }
    .lblTotal{
        font-size: 16px;
    }
}
@media (max-height: 650px) {
    h3{
        font-size: 20px;
    }
    .status-icon{
        display: none;
    }
    .lblStatus{
        font-size: 14px;
    }
    .item-name, .item-date{
        font-size: 16px;
    }
    .lblTotal{
        font-size: 15px;
    }
}