<div class="cardapio-container">
    <header class="cardapio-header">
        <button mat-raised-button color="accent" class="btn btn1">Editar item</button>
        <button mat-raised-button color="accent" class="btn btn2">Adicionar item</button>
        <button mat-raised-button color="accent" class="btn btn3">Editas Slides do APP</button>
    </header>
    <main class="cardapio">
        <div class="cardapio1 panel">
            <h4 class="cardapio-title center bold corbel no-margin mg-top-20">
                Pizzas Salgadas
            </h4>
            <div class="cardapio-itens">
                <div class="item mg-top-10">
                    <p class="item-preco no-margin bold corbel">R$ 49,99</p>
                    <p class="item-name bold century no-margin">À MODA FRATELLI</p>
                    <p class="item-desc no-margin">Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts.</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
                <div class="item mg-top-10">
                    <p class="item-preco no-margin bold corbel">R$ 49,99</p>
                    <p class="item-name bold century no-margin">À MODA FRATELLI</p>
                    <p class="item-desc no-margin">Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts.</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
            </div>
        </div>
        <div class="cardapio2 panel">
            <h4 class="cardapio-title center bold corbel no-margin mg-top-20">
                Pizzas Doces
            </h4>
            <div class="cardapio-itens">
                <div class="item mg-top-10">
                    <p class="item-preco no-margin bold corbel">R$ 49,99</p>
                    <p class="item-name bold century no-margin">À MODA FRATELLI</p>
                    <p class="item-desc no-margin">Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts.</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
                <div class="item mg-top-10">
                    <p class="item-preco no-margin bold corbel">R$ 49,99</p>
                    <p class="item-name bold century no-margin">À MODA FRATELLI</p>
                    <p class="item-desc no-margin">Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts.</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
            </div>
        </div>
        <div class="cardapio3 panel">
            <h4 class="cardapio-title center bold corbel no-margin mg-top-20">
                Bebidas
            </h4>
            <div class="cardapio-itens">
                <div class="item mg-top-10">
                    <p class="item-preco no-margin bold corbel">R$ 49,99</p>
                    <p class="item-name bold century no-margin">À MODA FRATELLI</p>
                    <p class="item-desc no-margin">Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts.</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
                <div class="item mg-top-10">
                    <p class="item-preco no-margin bold corbel">R$ 49,99</p>
                    <p class="item-name bold century no-margin">À MODA FRATELLI</p>
                    <p class="item-desc no-margin">Lorem ipsum is placeholder text commonly used in the graphic for previewing layouts.</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
            </div>
        </div>
    </main>
</div>
