<div class="cardapio-container">
    <header class="cardapio-header">
        <button mat-raised-button color="accent" class="btn btn1" (click)="edit=!edit">Editar item</button>
        <button mat-raised-button color="accent" class="btn btn2" (click)="abrirForm(null)">Adicionar item</button>
        <button mat-raised-button color="accent" class="btn btn3">Editas Slides do APP</button>
    </header>
    <main class="cardapio">
        <div class="cardapio1 panel">
            <h4 class="cardapio-title center bold corbel no-margin mg-top-20">
                Pizzas Salgadas
            </h4>
            <div class="cardapio-itens">
                <div class="item mg-top-10" *ngFor="let item of cardapio[0]">
                    <p class="item-preco no-margin bold corbel">R$ {{item.price}}</p>
                    <p class="item-name bold century no-margin">{{item.name}}</p>
                    <mat-icon class="icon-edit" aria-hidden="false" (click)="abrirForm(item)" *ngIf="edit">edit</mat-icon>
                    <p class="item-desc no-margin">{{item.description}}</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
            </div>
        </div>
        <div class="cardapio2 panel">
            <h4 class="cardapio-title center bold corbel no-margin mg-top-20">
                Pizzas Doces
            </h4>
            <div class="cardapio-itens">
                <div class="item mg-top-10" *ngFor="let item of cardapio[1]">
                    <p class="item-preco no-margin bold corbel">R$ {{item.price}}</p>
                    <p class="item-name bold century no-margin">{{item.name}}</p>
                    <p class="item-desc no-margin">{{item.description}}</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
            </div>
        </div>
        <div class="cardapio3 panel">
            <h4 class="cardapio-title center bold corbel no-margin mg-top-20">
                Bebidas
            </h4>
            <div class="cardapio-itens">
                <div class="item mg-top-10" *ngFor="let item of cardapio[2]">
                    <p class="item-preco no-margin bold corbel">R$ {{item.price}}</p>
                    <p class="item-name bold century no-margin">{{item.name}}</p>
                    <p class="item-desc no-margin">{{item.description}}</p>
                    <p class="linha no-margin mg-top-10"></p>
                </div>
            </div>
        </div>
    </main>
</div>
