ion-toolbar, ion-content{
    --ion-background-color: #f3f3f3;
}
.error{
    color: rgb(199, 37, 37);
    margin-top: 5px;
    margin-left: 16px;
}
.pad-20{
    padding: 20px 20px 0 20px;
}
ion-card, ion-card ion-item{
    --background: #f7f7f7;
}
.card-selected{
    border: 1.5px solid rgb(214, 60, 60);
}

@media (max-height: 680px){
    .lblCadastro{
        font-size: 18px;
    }
    .pad-20{
        padding: 15px 15px 0 15px;
    }
    
}