<ion-header>
  <ion-toolbar>
    <ion-button (click)="goToHome()" fill="clear" slot="start" color="light">
      <ion-icon slot="icon-only" name="chevron-back-outline"> </ion-icon>
    </ion-button>
    <ion-title color="light"> {{ header_title }}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content >

    <div class="pad-right-10">  
        <!-- Cardapio Salgadas -->
      <ion-list *ngIf="tipo_cardapio==1">
        <ion-list-header class="sub-categoria">
          Sabores Especiais
        </ion-list-header>

        <ion-item *ngFor="let pizza of cardapio_especiais">
          <ion-avatar slot="start">
            <img class="border-img" src="./assets/imgs/pizza.jpg">
          </ion-avatar>
          <ion-label>
            <p class="item-title century">{{pizza.name}}</p>
            <p class="item-description corbel">{{pizza.description}}</p>
            <p class="item-price century">R$ {{pizza.price}}</p>
          </ion-label>
        </ion-item>
        
        <ion-list-header class="sub-categoria mg-top-20">
          Sabores Tradicionais
        </ion-list-header>

        <ion-item *ngFor="let pizza of cardapio_tradicionais">
          <ion-avatar slot="start">
            <img class="border-img" src="./assets/imgs/pizza.jpg">
          </ion-avatar>
          <ion-label>
            <p class="item-title century">{{pizza.name}}</p>
            <p class="item-description corbel">{{pizza.description}}</p>
            <p class="item-price century">R$ {{pizza.price}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
          <!-- Cardapio Doces -->
      <ion-list *ngIf="tipo_cardapio==2">
        <ion-list-header class="sub-categoria">
          Sabores
        </ion-list-header>

        <ion-item *ngFor="let pizza of cardapio">
          <ion-avatar slot="start">
            <img class="border-img" src="./assets/imgs/pizza.jpg">
          </ion-avatar>
          <ion-label>
            <p class="item-title century">{{pizza.name}}</p>
            <p class="item-description corbel">{{pizza.description}}</p>
            <p class="item-price century">R$ {{pizza.price}}</p>
          </ion-label>
        </ion-item>
      </ion-list>
          <!-- Cardapio Bebidas -->
      <ion-list *ngIf="tipo_cardapio==3">
        <ion-list-header class="sub-categoria">
          Opções
        </ion-list-header>

        <ion-item *ngFor="let bebida of cardapio">
          <ion-avatar slot="start">
            <img class="border-img" src="./assets/imgs/pizza.jpg">
          </ion-avatar>
          <ion-label>
            <p class="item-title century">{{bebida.name}}</p>
            <p class="item-description corbel">{{bebida.description}}</p>
            <p class="item-price century">R$ {{bebida.price}}</p>
          </ion-label>
        </ion-item>
      </ion-list>


    </div>
</ion-content>
