<div class="selecionarEntregador" [ngStyle]="{'display': modalEntregador ? 'block' : 'none'}">
    <div class="backdrop"></div>
    <div class="modal-entregadores">
        <div class="pad-25">
            <mat-icon aria-hidden="false" (click)="closeModal()">close</mat-icon>
            <h5 class="center century bold cinza">Selecione um entregador</h5>
            <form [formGroup]="entregadoresForm" (ngSubmit)="sairParaEntrega()">
                <mat-form-field appearance="outline" color="primary" class="mg-top-20">
                    <mat-label>Entregador</mat-label>
                    <mat-select formControlName="nome">
                        <mat-option *ngFor="let e of entregadores" value={{e.nome}}>{{e.nome}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <p class="century bold center cinza mg-top-10">Você pode adicionar ou remover os entregadores cadastrados no sistema na tela de Entregas.</p>
                <button mat-flat-button type="submit" color="accent">
                    SAIR PEDIDO PARA ENTREGA
                </button>
            </form>
        </div>
    </div>
</div>
<div class="pedidos-container">
    <div class="lateral">
        <h4 class="corbel bold center laranja-padrao mg-top-20">NOVOS PEDIDOS</h4>
        <p class="linha no-margin mg-top-5"></p>
        <br/>
        <div *ngIf="pedidosNovos?.length > 0">
            <mat-card class="card-pedido mg-top-10" *ngFor="let p of pedidosNovos; let i = index">
                <div class="pad-5">
                    <p class="nome no-margin"><span class="laranja-padrao">Pedido: </span>{{p.nome_usuario}}</p>
                    <p class="contato no-margin">{{p.horario_pedido}}</p>
                    <div class="buttons-novo-pedido">
                        <button mat-button color="warn" (click)="rejeitarPedido(p, i)">Rejeitar</button>
                        <button mat-button color="accent" (click)="confirmarPedido(p, i)">Confirmar</button>
                    </div>
                </div>
            </mat-card>
        </div>
        <div *ngIf="pedidosNovos?.length == 0">
            <h5 class="center century pad-10">Não há pedidos novos por enquanto.</h5>
        </div>
    </div>
    <main class="main">
        <div class="container-pedidos">
            <h4 class="corbel bold preparo"> Em preparo</h4>
            <div *ngIf="pedidosPreparo">
                <div class="pedido-container" *ngFor="let p of pedidosPreparo; let i = index">
                    <div class="p-header">
                        <div class="buttons-header-pedido">
                            <mat-icon class="icon-cancel" color="warn" (click)="cancelarPedido(p, i)">cancel</mat-icon>
                            <mat-icon class="icon-print" (click)="imprimirPedido(p)">print</mat-icon>
                        </div>
                        <p class="no-margin horario bold corbel">{{p.horario_pedido}}</p>
                        <p class="no-margin nome bold">{{p.nome_usuario}}</p>
                    </div>
                    <div class="itens">
                        <div class="laranja-padrao no-margin">
                            <p class="no-margin" *ngFor="let item of p.pedido">{{item}}</p>
                        </div>
                    </div>
                    <div class="endereco">
                        <p class="no-margin">{{p.endereco}}</p>
                    </div>
                    <div class="total">
                        <p class=" no-margin"><span class="bold">Total:</span> R$ {{p.total}} - {{p.pagamento =='card' ? 'Cartão' : 'Dinheiro'}}</p>
                        <p class=" no-margin" *ngIf="p.troco"><span class="bold">Troco: </span> R$ {{(p.troco - p.total).toFixed(2)}}</p>
                    </div>
                    <div class="p-footer">
                        <p class="contato no-margin laranja-padrao">{{p.contato}}</p>
                        <button mat-button color="accent" (click)="confirmarEntregador(i)">Sair para entrega</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>