
ion-toolbar, ion-item{
    --background: #f3f3f3;
}
ion-content{
    --ion-background-color: #ebebeb;
}
.conteudo{
    background-color: #f3f3f3;
    padding-bottom: 15px;
    padding: 15px;
}
ion-avatar{
    width: 50px;
    height: 50px;
}
.lblDados{
    margin-left: 20px;
    font-size: 18px;
}
.perfil-nome{
    font-size: 20px;
    color: rgb(24, 24, 24);
}
.perfil-tel{
    font-size: 18px;
    color: rgb(15, 15, 15);
}
.lblUltimosPedidos{
    margin-left: 20px;
}
.icon-pontos{
    position: absolute;
    margin-left: 5px;
}
.lblPontos{
    margin-left: 60px;
    margin-top: 15px;
    font-size: 18px;
}
.subLblPontos{
    font-size: 15px;
    margin-left: 60px;
}
.pontos{
    color: #E5690B;
    font-weight: 700;
}
.sem-pedidos{
    color: #464646;
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 10px;
}
.item-name{
    color: #464646;
    font-size: 22px;
}
.item-date{
    color: #585858;
    font-size: 18px;
}
.pedido{
    margin-left: 10px;
}
.pedido-total{
    font-size: 18px;
    position: absolute;
    right: 25px;
}
.total{
    color: #E5690B;
    font-style: normal;
}
.linha{
    border-bottom: 2px solid #e2e2e2;
    width: 90%;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
}
.btnEnd{
    padding-bottom: 10px;
    margin-top: 5px;
}
.icon-end{
    font-size: 40px;
    color: #464646;
}
.lblEnd{
    position: absolute;
    margin-left: 50px;
    font-size: 20px;
    color: #464646;
}
.subLblEnd{
    position: absolute;
    margin-left: 50px;
    font-size: 18px;
    margin-top: 25px;
}
@media (min-height: 710px){
    .lblDados, .perfil-tel{
        font-size: 17px;
    }
    ion-avatar{
        width: 35px;
        height: 35px;
    }
    .perfil-nome, .lblUltimosPedidos, .item-name{
        font-size: 16px;
    }
    .item-date, .pedido-total{
        font-size: 14px;
    }
    .icon-pontos{
        width: 35px;
        height: 35px;
    }
    .lblPontos{
        font-size: 15px;
    }
    .subLblPontos{
        font-size: 13px;
    }
    .sem-pedidos{
        font-size: 13px;
    }
    .icon-end{
        font-size: 25px;
    }
    .lblEnd{
        font-size: 15px;
    }
    .subLblEnd{
        font-size: 13px;
    }
}
@media (max-height: 650px){
    .lblDados, .perfil-tel{
        font-size: 14px;
    }
    ion-avatar{
        width: 40px;
        height: 40px;
    }
    .perfil-nome, .lblUltimosPedidos, .item-name{
        font-size: 16px;
    }
    .item-date, .pedido-total{
        font-size: 12px;
    }
    .icon-pontos{
        width: 35px;
        height: 35px;
    }
    .lblPontos{
        margin-left: 45px;
        font-size: 14px;
    }
    .subLblPontos{
        font-size: 12px;
        margin-left: 45px;
    }
    .sem-pedidos{
        font-size: 15px;
        margin-top: 5px;
    }
    .icon-end{
        font-size: 25px;
    }
    .lblEnd{
        font-size: 15px;
        margin-left: 35px;
    }
    .subLblEnd{
        font-size: 12px;
        margin-left: 35px;
    }
    .btnEnd{
        margin-top: 0px;
    }

}